.main-container {
    max-width: unset;
}
.main-wrapper {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-element {
    padding: 0 12vw;
}
.title-wrapper {
    align-self: stretch;
}
.group-picture {
    width: 100%;
    filter: saturate(90%);
}
.img-wrapper{
    margin-top: 20px;
}
.img-wrapper.loading {
    background-image: url('../../resources/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1A1C23;
    min-height: 200px;
}
.img-wrapper.loading img{
    opacity: 0;
}

@media only screen and (min-width: 650px){
    .main-container {
        max-width: 100vmin;
    }
    .flex-element {
        padding: 0 10vmin;
    }
    .img-wrapper {
        max-width: 1200px;
    }
}

