<div class="copyright">
    &copy; 2020 Never Official
</div>
<div class="footer-links">
    <a href="https://www.youtube.com/channel/UCN76HJCEOipjDLIB5bYMexw/" target="_blank">
        <img class="social-media-icon" icon="youtube" alt="youtube link" src="../images/icons/youtube.png">
    </a>
    <a href="https://www.instagram.com/neverofficialyyc/" target="_blank">
        <img class="social-media-icon" icon="instagram" alt="instagram link" src="../images/icons/instagram.png">
    </a>
    <a href="https://www.facebook.com/neverofficialyyc/" target="_blank">
        <img class="social-media-icon" icon="facebook" alt="facebook link" src="../images/icons/facebook.png">
    </a>
</div>
