.main-container {
    display: flex;
    flex-direction: column;
}
.apply-button {
    padding: 10px 20px;
    background-color: rgb(26, 121, 180);
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.8;
    text-align: center;
    margin-top: 20px;
}
.apply-button:hover {
    opacity: 1;
}
.faq-link {
    color: black;
    text-decoration: underline;
}
.faq-link:hover,
.faq-link:focus {
    opacity: 0.7;
}
.studio-pic {
    opacity: 0.8;
}