.faq-link {
    color: black;
    text-decoration: underline;
}
.faq-link:hover,
.faq-link:focus {
    opacity: 0.7;
}

.main-container {
    display: flex;
    flex-direction: column;
}
.form-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    border: none;
    padding: 8px 5px;
    background-color: rgb(219, 219, 219);
}
textarea {
    resize: none;
}
.form-container label {
    align-self: flex-start;
}
.form-container button {
    align-self: center;
    background-color: black;
    color: white;
    padding: 4px 10px;
}