.faq-container {
    font-size: 14px;
    text-align: start;
}
.faq-title {
    text-align: center;
}
.faq-question {
    display: block;
    font-weight: 550;
    margin-top: 15px;
}
.faq-question i{
    font-weight: 400;
}
.faq-answer,
.faq-description {
    line-height: 18px;
    padding-left: 20px;
}
.audition-intro {
    margin: 8px 0;
    font-size: 14px;
}
.audition-button {
    padding: 10px 20px;
    background-color: rgb(26, 121, 180);
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.8;
    text-align: center;
}
.audition-button:hover {
    opacity: 1;
}
.faq-link {
    color: black;
    text-decoration: underline;
}
.faq-link:hover,
.faq-link:focus {
    opacity: 0.7;
}