@font-face {
    src: url(../fonts/Lovelo-LineBold.ttf);
    font-family: "Lovelo-bold";
}

/* For Index Page*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Lato",sans-serif;
    text-align: center;
    background: #F1F1F1;
}
a { 
    text-decoration: none; /* remove default link underline */
}
header {
    font-family: 'Squada One', cursive;
    width: 100%;
    height: auto;
    min-height: 10vh;
}
header a {
    color: white;
}
h1 { /* Hidden display for smaller viewports */
    font-family: "Lovelo-bold";
    font-size: 60px;
    color: #1A1C23;
    display: none;
    padding: 15px 0;
}
nav {
    background: #1A1C23;
    padding:5px;
    font-weight: 550;
    text-transform: uppercase;
}
nav a {
    display: block;
    padding: 5px 0;
}
nav a:hover {
    transition: 0.5s;
    background: #0d0d0d;
    border-radius: 5px;
    color: lightblue;
}
main {
    min-height: 90vh;
    margin: 25px 40px;
}
em {
    font-weight: 550;
    text-transform: uppercase;
    color: grey;
}
footer {
    width: 100%;
    background-color: rgb(78, 78, 78, 0.7);
    padding: 10px 0;
    margin-top: 15px;
    font-size: 24px;
}
footer a {
    color: white;
}
footer i {
    width: 1.45em;
}


/* Specific classes */
.header-logo {
    max-width: 50%;
}
.lastest-cover {
    border: 10px solid lightgrey;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}
.lastest-cover iframe {
    border: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

/* Responsive Design - Width */
@media only screen and (min-width: 520px){
    h1 {
        display: block;
    }
    .logo-container {
        margin: 0 10vw;
    }
    .header-logo {
        position: absolute;
        left: 15vw;
        top: 10px;
        max-width: 80px;
        float: left;
    }
}

@media only screen and (min-width: 600px){
    main {
        min-width: 560px;
        max-width: 850px;
        width: 60%;
        margin: auto;
        padding-top: 50px;
    }
}

@media only screen and (min-width: 840px){
    header {
        background-color: grey;
    }
    nav a {
        display: inline;
        margin: 20px 10px;
    }
}
