@font-face {
    src: url(../fonts/Lovelo-LineBold.ttf);
    font-family: lovelo;
}

/* For Index Page*/
body {
    font-family: 'Squada One', cursive;
    font-size: 20px;
    margin:0;
    text-align: center;
}
h1 {
    font-family: lovelo;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: dimgrey;
}
nav {
    font-size: 24px;
    background: dimgrey;
    padding:5px;
    width: 100%;
    font-weight: 550;
    text-transform: uppercase;
    border-top: 3px lightgrey solid;
    border-bottom: 3px lightgrey solid;
}
nav a {
    padding:0px 10px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    transition: 0.5s;
    background: #0d0d0d;
    border-radius: 5px;
    color: lightblue;
}
main {
    margin-top: 35px;
}
em {
    text-decoration: underline;
    text-transform: uppercase;
    color: grey;
}


/* Specific classes */
.lastest-cover {
    border: 10px solid lightgrey;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}
.lastest-cover iframe {
    border: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}


.member-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 150px;
  }
  
/* Create four equal columns that sits next to each other */
.member-column {
    flex: 15%;
    max-width: 25%;
    padding: 0 4px;
}

.member-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .member-column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .member-column {
        flex: 100%;
        max-width: 100%;
    }
}

